body {
  height: 100vh
}

header {
  height: 20%
}

main {
  height: 60%
}

footer {
  height: 20%
}

#pic {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}